<template>
  <div>
    <!-- Employee Form -->
    <div class="row">
      <div class="col">
        <EmployeeForm />
      </div>
    </div>

    <!-- End of Employee Form -->
    <div class="row">
      <div class="col">
        <DependentForm />
      </div>
    </div>

    <!-- Start of Dependent Form -->
    <div class="row" v-for="dep in dependentForms" v-bind:key="dep.id">
      <div class="col">
        <component v-bind:is="dep.type" v-bind:depId="dep.id"></component>
      </div>
    </div>
    <!-- End of Dependent Form -->

    <hr />

    <div class="form-group">
      <button v-on:click="addDep" type="submit" class="btn btn-secondary">
        Add Dependent
      </button>
    </div>

    <div class="form-group">
      <button
        v-on:click="generateJson"
        type="submit"
        class="btn btn-secondary"
        v-if="debug"
      >
        Preview Request
      </button>
    </div>

    <div class="form-group">
      <button v-on:click="generatePlan" type="submit" class="btn btn-primary">
        Generate Plan
      </button>
    </div>
  </div>
</template>

<script>
import EmployeeForm from "./EmployeeForm.vue";
import DependentForm from "./DependentForm.vue";

export default {
  name: "HMOForm",
  components: {
    EmployeeForm,
    DependentForm,
  },
  props: ["debug"],
  data: function() {
    return {
      count: 1,
      dependentForms: [],
    };
  },
  methods: {
    addDep: function() {
      this.$data.count++;
      this.$data.dependentForms.push({
        type: "dependent-form",
        id: this.$data.count,
      });
    },
    generatePlan: function() {
      let json_value = this.generateJson();
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: json_value,
      };
      let baseURL = document.URL;
      if (typeof process.env.VUE_APP_URL !== "undefined") {
        baseURL = process.env.VUE_APP_URL;
      }
  
      const solveURL = new URL("/api/solve_dependents", baseURL);
      const suggestURL = new URL("/api/suggest_plan", baseURL);

      fetch(solveURL, requestOptions)
        .then((response) => response.json())
        .then((data) => this.$emit("updateSolve", data));
      fetch(suggestURL, requestOptions)
        .then((response) => response.json())
        .then((data) => this.$emit("updatePlan", data));
    },
    generateJson: function() {
      // TODO: this should be refactored!
      // Instead of searching the DOM, we should store the dependents
      // as an array, then bind that to the dependent forms
      var jsonDict = new Object();

      jsonDict["employee"] = new Object();

      var employeeDict = jsonDict["employee"];

      employeeDict["name"] = document.getElementById("employeeName").value;
      employeeDict["birthday"] = document.getElementById(
        "employeeBirthday"
      ).value;
      employeeDict["employed"] = true;
      employeeDict["married"] = document.getElementById(
        "employeeMarried"
      ).checked;

      // Loop through dependents

      jsonDict["dependents"] = [];

      let dependents = document.getElementsByName("dependent-form");
      for (let dependent of dependents) {
        let dependentDict = new Object();

        dependentDict["name"] = dependent.getElementsByClassName(
          "dependent-name"
        )[0].value;
        dependentDict["birthday"] = dependent.getElementsByClassName(
          "dependent-birthday"
        )[0].value;
        dependentDict["married"] = dependent.getElementsByClassName(
          "dependent-married"
        )[0].checked;
        dependentDict["employed"] = dependent.getElementsByClassName(
          "dependent-employed"
        )[0].checked;
        dependentDict["relationship"] = dependent.getElementsByClassName(
          "dependent-relationship"
        )[0].value;

        jsonDict["dependents"].push(dependentDict);
      }

      let json_value = JSON.stringify(jsonDict, null, 2);
      this.$emit("updateJSON", json_value);
      return json_value;
    },
  },
};
</script>
