<template>
  <div style="margin-top: -15px">
    <mdb-edge-header color="teal darken-2">
      <div class="category-page-background"></div>
    </mdb-edge-header>
    <mdb-container class="free-bird">
      <mdb-row>
        <mdb-col md="10" class="mx-auto">
          <mdb-jumbotron class="pt-4">
            <h2 class="pb-4">
              <mdb-col md="15">
                  <img src="../../docs/categories/assets/contact-us.png" class="img-fluid"/>
                </mdb-col>
            </h2>
              <mdb-row class="d-flex flex-row justify-content-center">
              <mdb-btn icon="envelope-open" iconColor="white" icon-left><a href="mailto:people@opswerks.com">Email POps!</a></mdb-btn>
              </mdb-row>
            
        <mdb-row center class="mb-4">
        <mdb-container class="mt-5">
        <mdb-row class="mt-5 align-items-center justify-content-start">
          <h4 class="demo-title"><strong>You might be interested? </strong></h4>
        </mdb-row>
          <hr class="my-4" />
        <mdb-row>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/444734123" allowfullscreen></iframe>
          </div>
        </mdb-row>
        </mdb-container>
    </mdb-row>
            
          </mdb-jumbotron>
        </mdb-col>
      </mdb-row>
    </mdb-container>
  </div>
</template>

<script>
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbJumbotron,
  mdbEdgeHeader,
  mdbBtn
} from "mdbvue";

export default {
  name: "AdvancedPage",
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbJumbotron,
    mdbEdgeHeader,
    mdbBtn
  }
};
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}

.category-page-background {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../../docs/categories/assets/opswerks-bg.png")
    center;
  background-size: cover;
}

.example-components-list {
  padding-top: 20px;
}

.example-components-list li {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f7f7f7;
  transition: 0.3s;
}

.example-components-list h6 {
  padding: 20px 10px 5px 10px;
  color: grey;
}

.example-components-list li:hover {
  background-color: #fafafa;
}

.example-components-list i {
  float: right;
  padding-top: 3px;
}

.nav-link.navbar-link h5 {
  color: #212529;
}
</style>
